---
layout: home
---

<div class="home">

	<article class="home-article">
		<div class="featured">
			<div>
			<a class="post-link" href="{{ site.baseurl }}/gone-surfing/">
				<img src="{{ site.baseurl }}/assets/thesis/Screen_Shot_2016-02-28_at_1.20.17_PM.png"/>
			</a>	
			</div>
		</div>
		<ul class="gallery">
			{% for post in site.categories.gallery reversed limit:8 %}
				<li>
					<div class="post-box">
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
							<div class="img-window">
								{% if post.thumbnail %}
								<img src="{{ post.thumbnail | prepend: site.baseurl }}"/>
								{% elsif post.video %}
								<iframe class="post-video" src="http://player.vimeo.com/video/{{ post.video }}?badge=0&byline=0&portrait=0&title=0" width="320" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								{% endif %}
							</div>
							<div class="info-window" style="-webkit-mask-image: url('/assets/{{ post.title }}.svg')">
							</div>
						</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</article>

</div>
<div class="thesis-info">
	<article>
		{% for post in site.categories.thesis %}
		{% if post.info %}
			<article class="post-content" style="left:100%">
			  {{ post.content }}
			</article>
		{% endif %}
		{% endfor %}
	</article>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  	$(window).load(function(){
  		$(".gallery .post-box").mouseenter(function() {
  			if( $(this).find(".info-window").is(':hidden')){
				$(this).find(".info-window").fadeIn("slow");
			}
  		});
  		$(".gallery .post-box").mouseleave(function() {
  			$(this).find(".info-window").delay(1000).animate({opacity: 0},function(){
  				$(this).css({"display": "none","opacity":"1"});
  			});
  		});
  	});
  });
</script>