<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Data for Surf's Sake</title>
    <style>
      html, body{
        margin: 0;
        padding: 0;
        height: 100%;
        cursor: crosshair;
        overflow: hidden;
      }
      #login-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height:400px;
        display: none;
        position: absolute;
        top: 25%;
        z-index:1;
      }
      #login {
        margin: 0px auto;
        padding: 0;
        width: 301px;
        position: relative;
        opacity: 0.5;
        background-color: #000000;
      }
      #start {
        margin: 0;
        padding: 0;
        width: 100&;
        height: 50px;
        position: relative;
        opacity: 1.0;
        background-color: #000000;
      }
      #loading-bar {
        margin: 0;
        padding: 0;
        width: 0%;
        height: 3px;
        position: relative;
        opacity: 1.0;
        background-color: #0000ff;
      }
      .hidden
      {
          pointer-events:none;
      }
    </style>
    <script src="../lib/stats.js"></script>
    <script src="../lib/three.min.js"></script>
    <script src="../lib/jquery-1.12.0.min.js"></script>
    <script src="../lib/dat.gui.js"></script>
    <script src="../lib/Tween.js"></script>
    <script src="../lib/jsonpipe.js"></script>


    <script src="../local-sources/distinct-locations-new.js"></script>

    <script src="../local-sources/landpolygons50m.js"></script>
    <script src="../local-sources/global-swell-emitters.js"></script>
    
    <script src="../scripts/landing-page.js"></script>
    <script src="../scripts/local.js"></script>
    <script src="../scripts/personal.js"></script>
    <script src="../scripts/main.js"></script>

    <script src="../shaders/BokehShader2.js"></script>
    <script type="x-shader/x-vertex" id="swell_vertexshader">
    attribute float scale;
    attribute float swellSize;
    attribute float timestamp;
    attribute vec3 target;
    
    uniform float equator;
    uniform float time;
    uniform float zoom;
    uniform float alpha;
    uniform float pointWidth;

    varying float vAlpha;
    varying float vSwell;

    vec3 emitter;
    float x;
    float y;
      
    void main() {
      float lerp = 1.0/518400.0;
      float start = timestamp-518400.0;
      vAlpha = 0.0;
      vSwell = 1.0/10.0*swellSize;
      vec3 newPosition = position;
      
      if(start-500000.0 < time){
        vAlpha = 1.0;
        if(position.y > equator){
          x = position.x + (20.0 - vSwell*10.0) * cos((time+timestamp)*-0.00005*(vSwell+0.1));
          y = position.y + (20.0 - vSwell*10.0) * sin((time+timestamp)*-0.00005*(vSwell+0.1));
          newPosition = vec3(x,y,position.z);
        } else {
          x = position.x + (20.0 - vSwell*10.0) * cos((time+timestamp)*0.00005*(vSwell+0.1));
          y = position.y + (20.0 - vSwell*10.0) * sin((time+timestamp)*0.00005*(vSwell+0.1));
          newPosition = vec3(x,y,position.z);
        }
        emitter = newPosition;
      }
      if(start < time){
        vAlpha = 1.0;
        vec3 dir = target-emitter;
        float l2 = 1.0-lerp*(timestamp-time);
        newPosition = emitter+dir*l2;
      }
      if(timestamp < time){
        newPosition = vec3(target.x,target.y,scale/zoom);
      }
      if(alpha < 0.0){
        vAlpha = 1.0+alpha;
      }

      vec4 mvPosition = modelViewMatrix * vec4( newPosition, 1.0 );

      gl_PointSize = equator*0.04 * (vSwell+1.0) * ( 300.0 / length( mvPosition.xyz ) );

      gl_Position = projectionMatrix * modelViewMatrix * vec4(newPosition,1.0);

    }
    </script>
    <script type="x-shader/x-fragment" id="swell_fragmentshader" >
      precision mediump float;
      const float filterPixelWidth = 1.4142135623730951;
      const vec4 blank = vec4(0.);
      const vec4 BLUE = vec4( 0.0, 0.5, 1.0, 1.0 );
      const vec4 TEAL = vec4( 0.0, 1.0, 1.0, 1.0);
      const vec4 GREEN = vec4( 0.0, 1.0, 0.0, 1.0 );
      const vec4 YELLOW = vec4( 1.0, 1.0, 0.0, 1.0);
      const vec4 RED = vec4( 1.0, 0.0, 0.0, 1.0 );
      uniform sampler2D texture;
      
      varying float vAlpha;
      varying float vSwell;

      float remap(float minval, float maxval, float curval){
        return (curval - minval)/(maxval - minval);
      }

      void main () {
        if(vAlpha < 0.1) discard;

        if(vSwell < 0.25){
          gl_FragColor = mix (BLUE,TEAL, remap(0.0,0.25, vSwell));
        } else if(vSwell < 0.5){
          gl_FragColor = mix (TEAL,GREEN, remap(0.25,0.5, vSwell));
        } else if(vSwell < 0.75){
          gl_FragColor = mix (GREEN,YELLOW, remap(0.5,0.75, vSwell));
        }
        else {
          gl_FragColor = mix (YELLOW,RED, remap(0.75,1.0, vSwell));
        }
        //gl_FragColor = vec4(color,1.0);
        gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord )*vAlpha;
      }
    </script>
    <script type="x-shader/x-vertex" id="land_vertexshader">
    

      void main() {
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);

      }
    </script>
    <script type="x-shader/x-fragment" id="land_fragmentshader" >
      void main () {
          gl_FragColor = vec4(1.0,1.0,1.0,1.0);

          if (mod(gl_FragCoord.x + gl_FragCoord.y, 10.0) <= 1.0 || mod(gl_FragCoord.x - gl_FragCoord.y, 10.0) <= 1.0) {
                gl_FragColor = vec4(0.0, 0.0, 1.0, 0.1);
          } else { discard ;}

          //if (mod(gl_FragCoord.x - gl_FragCoord.y, 10.0) <= 1.0) {
          //      gl_FragColor = vec4(0.0, 0.0, 1.0, 0.1);
          //}
      }
    </script>

    <script type="x-shader/x-vertex" id="bluemarble_vertexshader">
      uniform sampler2D texture;
      varying vec2 vUv;
      varying float vDis;
      vec3 newPosition;
      void main() {

        vUv = uv;

        vec4 tex = texture2D(texture,vUv);
        vDis = (0.30*tex.r + 0.59*tex.g + 0.11*tex.b)*10.0-4.0;
        if(vDis > 0.0){
          newPosition = position;
        } else {
          newPosition = position+normal*vDis;
        }
          gl_Position = projectionMatrix * modelViewMatrix * vec4(newPosition,1.0);

      }
    </script>
    <script type="x-shader/x-fragment" id="bluemarble_fragmentshader" >
    uniform sampler2D texture;
    varying vec2 vUv;
    varying float vDis;
    void main () {
      gl_FragColor = mix(texture2D(texture, vUv),vec4(0.0,0.5,1.0,1.0),0.5);
      
      }
    </script>
    
    <script type="x-shader/x-vertex" id="pilgrim_vertexshader">

      attribute float alpha;

      uniform float pointWidth;

      varying float vAlpha;

      void main() {

        vAlpha = alpha;
        gl_PointSize = pointWidth;

        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

      }

    </script>

    <script type="x-shader/x-fragment" id="pilgrim_fragmentshader">
            
            uniform vec3 color;
            
      varying float vAlpha;

      void main() {

        gl_FragColor = vec4( color, vAlpha );

      }

    </script>

  </head>

  <body>
  <div id="timeline-container" style="width:100%; height: 200px; z-index: 1; position: absolute">
    <div id="timeline-centered" style="width: 1000px; height: 100%; margin: 0px auto; color: white; text-align: center;">
      <div style="float:left; width:30%; height: 40px; margin-left: 5%; margin-top: 50px; background-color: grey; opacity: 0.0">global</div>
      <div style="float:left; width:30%; height: 40px; margin-top: 50px; background-color: black; opacity: 0.0">local</div>
      <div style="float:left; width:30%; height: 40px; margin-right: 5%; margin-top: 50px; background-color: black; opacity: 0.0; margin-bottom: 20px">personal</div>
    </div>
  </div>
    <div id="login-container">
        <div id="login">
          <div style="width: 100%; text-align: center; color: white">Welcome Chat</div>
          <div style="width: 100%; text-align: center; color: white">loading stuff...</div>
            <div id = "loading-bar"></div>
        </div>
    </div>
    <div id="gui-container" style="position:absolute; top: 0px; left: 0px; height:100%; width:250px; background-color: black; z-index:1; opacity: 0.5">
    <div style="height: 40px; width: 100%;margin-top:49px; color: white; text-align:center">
      <button style="height:100%;width:32%;float: left;margin-left:2%" onClick="goBirdsEye()">top</button>
      <button style="height:100%;width:32%;float: left;" onClick="goGlobal()">45</button>
      <button style="height:100%;width:32%;float: left;margin-right:2%" onClick="goHistogram()">front</button>
    </div>
    <div style="height: 40px; width: 100%;color: white; text-align: center">
      <button style="height:100%;width:32%;float: left;margin-left:2%" onClick="params.restart()">start</button>
      <button style="height:100%;width:32%;float: left;" onClick="params.play()">play</button>
      <button style="height:100%;width:32%;float: left;margin-right:2%" onClick="params.end()">end</button>
    </div>
    <div style="height: 40px; width: 100%;color: white; text-align: center">
      <button style="height:100%;width:96%;float: left;margin:0 2%" onClick="autoPlay()">top surf spot</button>
    </div>
    </div>
    <div id="menu-icon" style="position: absolute; z-index:1; top: 90px; left: 0px; display:none; margin: 0px 10px; height: 40px">menu</div>
    <div id="information" style="position: fixed; width:200px; height:50px; background-color: white; z-index: 1; visibility: hidden"></div>
    <div id="information2" style="position: fixed; width:200px; height:50px; background-color: grey; z-index: 1; display: none; opaity: 0.5"></div>
    <select id="location-select" style="visibility: hidden;"  onchange="goSelectedLocation(this.value)"></select>
  </body>

</html>
